* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 0;
    font-family: Montserrat;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    margin: 10px;
}

#gallary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: grid;
    place-items: center;
    list-style: none;
    padding: 40px;
    background-color: gray;
    margin: 10px;
}